## Lending Club Case Study

In [21]:
#import libraries
import pandas as pd

In [22]:
# read the dataset into a data frame

df = pd.read_csv('./loan.csv',parse_dates = ['next_pymnt_d'])

Get first look at the data

In [23]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [25]:
df.shape

(39717, 111)

Get initial meta data for columns such as null and unique values

In [26]:
df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [27]:
df.nunique()

id                            39717
member_id                     39717
loan_amnt                       885
funded_amnt                    1041
funded_amnt_inv                8205
                              ...
tax_liens                         1
tot_hi_cred_lim                   0
total_bal_ex_mort                 0
total_bc_limit                    0
total_il_high_credit_limit        0
Length: 111, dtype: int64

In [28]:
df.isna().sum().sort_values(ascending=False)

verification_status_joint    39717
annual_inc_joint             39717
mo_sin_old_rev_tl_op         39717
mo_sin_old_il_acct           39717
bc_util                      39717
                             ...
delinq_amnt                      0
policy_code                      0
earliest_cr_line                 0
delinq_2yrs                      0
id                               0
Length: 111, dtype: int64

## DATA CLEANUP


# Fixing Rows
| Checklist Item      | Analysis |
| ----------- | ----------- |
| Delete incorrect rows      | No such rows found       |
| Delete summary rows   | No such rows found        |
| Delete extra rows   | No such rows found        |

After manual checking of csv, no such rows found

# Fixing Columns
| Checklist Item      | Analysis |
| ----------- | ----------- |
| Add column names if missing      | No such columns found       |
| Rename columns   | No such columns found        |
| Delete unnecessary columns   | Columns with all empty values found        |
| Split columns for more data   | URL and date columns can be split        |
| Merge columns for identifiers   | No such columns found        |
| Align misaligned columns   | No such columns found        |

In [29]:
# dropping columns which have no data
df.dropna(axis=1,how='all',inplace=True)
df.isna().sum().sort_values(ascending=False)

next_pymnt_d                  38577
mths_since_last_record        36931
mths_since_last_delinq        25682
desc                          12940
emp_title                      2459
emp_length                     1075
pub_rec_bankruptcies            697
last_pymnt_d                     71
chargeoff_within_12_mths         56
collections_12_mths_ex_med       56
revol_util                       50
tax_liens                        39
title                            11
last_credit_pull_d                2
home_ownership                    0
int_rate                          0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
term                              0
last_pymnt_amnt                   0
initial_list_status               0
funded_amnt_inv                   0
policy_code                       0
application_type                  0
acc_now_delinq                    0
funded_amnt                       0
delinq_amnt                       0
loan_amnt                         0
out_prncp                         0
total_acc                         0
annual_inc                        0
addr_state                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
sub_grade                         0
purpose                           0
zip_code                          0
dti                               0
installment                       0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
member_id                         0
grade                             0
open_acc                          0
pub_rec                           0
revol_bal                         0
id                                0
dtype: int64